<div class="recently" [id]="'recentlyList'" cdkDropList #recentlyList="cdkDropList" [cdkDropListData]="names"
     [cdkDropListConnectedTo]="'activeList'" (cdkDropListDropped)="drop($event)">
  <div class="label" *ngIf="names.length > 0">recently used: </div>
  <div class="list">
    <div cdkDrag *ngFor="let name of names">
      <div class="unused-person" (click)="onAddPerson(name)">
        <div class="name">{{ name }}</div>
        <div class="close" (click)="resetName(name, $event)"></div>
        <div class="drag-placeholder" *cdkDragPlaceholder><div class="name">{{ name }}</div></div>
      </div>
    </div>
  </div>
</div>
