.recently {
  display: block;
  font-family: sans-serif;
  white-space: nowrap;
  align-items: center;
  color: #dfdfdf;
}

.unused-person {
  color: #dfdfdf;
  background-color: #fafafa;
  border-color: #dfdfdf;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  transition: all 200ms ease-in-out;
}

.unused-person:hover {
  background-color: #a9a9a9;
  cursor: pointer;
}

.recently .label {
  margin-bottom: 5px;
}

.unused-person .name {
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  pointer-events: none;
  user-select: none;
}

.unused-person .close {
  width: 20px;
  height: 20px;
  padding: 20px;
  opacity: 0.5;
  position: relative;
  transition: opacity 300ms ease-in;
}

.unused-person.focus .close {
  pointer-events: none;
  opacity: 0;
}

.unused-person:not(.focus) .close:hover {
  opacity: 1;
  cursor: pointer;
}
.recently .close:before,
.recently .close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.recently .close:before {
  transform: translateY(-50%) rotate(45deg);
}
.recently .close:after {
  transform: translateY(-50%) rotate(-45deg);
}

.dark .unused-person {
  color: #a3a3a3;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}

.dark .unused-person:hover {
  background-color: #4f4f4f;
}

.unused .drag-placeholder {
  color: #dfdfdf;
  background-color: transparent;
  border: 3px dashed #dfdfdf;
  border-radius: 5px;
  opacity: 0;
}

.dark .unused .drag-placeholder {
  color: #3f3f3f;
  border: 3px dashed #3f3f3f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recently {
  padding-bottom: 20px;
}