.add {
  display: flex;
}

.add-input {
  padding: 20px 15px 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 16px;
  transition: all 200ms ease-out;
}

.dark .add-input {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  color: #fff;
}