.persons {
  display: block;
  padding-bottom: 20px;
}

.person {
  color: black;
  background-color: #fafafa;
  border-color: #dfdfdf;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

.dark .person {
  color: white;
  border-color: #585858;
  background-color: #585858;
}

.person.hover {
  transform: scale(1.1);
  cursor: pointer;
}

.person.focus {
  color: black;
  background-color: #b3f497;
  border-color: #b3f497;
  transform: scale(1.2);
}

.dark .person.focus {
  color: white;
  background-color: #72ca07;
  border-color: #72ca07;
  transform: scale(1.2);
}

.name {
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  pointer-events: none;
  user-select: none;
}

.close {
  width: 20px;
  height: 20px;
  padding: 20px;
  opacity: 0.2;
  position: relative;
  transition: opacity 300ms ease-in;
}

.person.focus .close {
  pointer-events: none;
  opacity: 0;
}

.person:not(.focus) .close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: rgb(0, 0, 0);
}
.dark .close:before,
.dark .close:after {
  background-color: rgb(255, 255, 255);
}
.close:before {
  transform: translateY(-50%) rotate(45deg);
}
.close:after {
  transform: translateY(-50%) rotate(-45deg);
}

.drag-placeholder {
  color: #585858;
  background-color: transparent;
  border: 3px dashed #585858;
  border-radius: 5px;
  opacity: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
