.toggle-color-scheme {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #ddd;
    transition: color 200ms ease-out;
    padding: 20px;
    margin: 0;
}

.toggle-color-scheme:hover {
    color: #333;
}

.dark .toggle-color-scheme {
    color: #666;
}

.dark .toggle-color-scheme:hover {
    color: #ddd;
}

@media only screen and (max-width: 600px) {
    .toggle-color-scheme {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}